<tr>
  <th scope="row">
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm"><%= course_subject.name %></span>
      </div>
    </div>
  </th>
  <td class="budget">
    <%= course_subject.description %>
  </td>
  <td class="budget">
    <%= course_subject.duration %>
  </td>
  <td class="budget">
    <%= status_subject_trainee(@user_course_subjects, course_subject) %>
  </td>
  <% if status_subject_trainee(@user_course_subjects, course_subject) == "finished"%>
    <td class="budget">
      <%= status_subject_trainee_finished(@user_course_subjects, course_subject) %>
    </td>
  <% else %>
    <td class="budget"></td>
  <% end %>
</tr>
