<tr>
  <th scope="row">
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm"><%= task_subject.name %></span>
      </div>
    </div>
  </th>
  <td class="budget">
    <%=task_subject.description %>
  </td>
  <td class="budget">
    <%= task_subject.duration %> <%= t("views.course_subject.show.date") %>
  </td>
  <td class="budget">
    <%= task_subject.status %>
  </td>
  <td class="budget">
    <%if task_subject.in_progress? %>
      <%= link_to t("views.course.show.finished"), trainee_user_task_path(task_subject.id), method: :put, class: "btn btn-info" %>
    <%end%>
  </td>
</tr>
