<div class="row">
  <div class="col">
    <div class="card bg-default shadow">
      <div class="card-header bg-transparent border-0">
        <h3 class="text-white mb-0"><%= t("views.course.index.header") %></h3>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-dark table-flush">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="sort" data-sort="name"><%= t("views.course.index.name") %></th>
              <th scope="col" class="sort" data-sort="name"><%= t("views.course.index.start_date") %></th>
              <th scope="col" class="sort" data-sort="name"><%= t("views.course.index.status") %></th>
              <th scope="col" class="colspan_table" colspan="2"><%= t("views.course.index.option") %></th>
            </tr>
          </thead>
          <tbody class="list">
            <%= render @courses %>
          </tbody>
        </table>
        <div class="digg_pagination">
          <%= paginate @courses %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6 col-5 text-right">
  <%= link_to t(".new_course"), new_trainer_course_path, class: "btn btn-success" %>
</div>
