<tr>
  <th scope="row">
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm"><%= course_subject.name %></span>
      </div>
    </div>
  </th>
    <td class="budget">
      <%= start_date_user_course_subject(course_subject) %>
    </td>
    <td class="budget">
      <%= end_date_user_course_subject(course_subject) %>
    </td>
  <td class="budget">
    <%= course_subject.duration %> <%= t("views.course_subject.show.date") %>
  </td>
  <td class="budget">
    <%= check_status_user_course_sb course_subject %>
  </td>
  <td class="budget"> 
    <% if course_subject.in_progress? && course_subject.course.in_progress? %>
      <%= link_to t("views.course.show.option"),trainee_course_subject_path(course_subject.id), class: "btn btn-danger" %>
    <% end %>
  </td>
</tr>
